.main-sidebar {
    display: flex;
}

.sidebar {
    width: 4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

}

.menu-title {
    display: flex; /* Usa Flexbox para alinear la imagen y el texto */
    flex-direction: column; /* Coloca la imagen sobre el texto */
    align-items: center; /* Centra horizontalmente el contenido */
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo del sidebar */
}

.menu-logo {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    display: block; /* Elimina el espaciado en línea que podría haber con imágenes */
}

.menu-title {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #2AB9B7;
    display: flex; /* Usa Flexbox para alinear la imagen y el texto */
    flex-direction: column; /* Coloca la imagen sobre el texto */
    align-items: center; /* Centra horizontalmente el contenido */
}

/* Buttons */
.menu-btn {
    border-radius: 50%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 40px;
    height: 40px;
    color: #2AB9B7
}

.menu-btn:hover {
    cursor: pointer;
    background-color: #e4f4f4;
}

.icon {
    width: 40px;
    height: 40px;
}

.separator {
    border: none;
    border-top: 2px solid #000;
    width: 100%;
    position: relative; /* Asegura que se mantenga en el flujo normal */
    z-index: 1; /* Asegura que esté por encima de otros elementos */
}

.menu-footer, .separator {
    margin-top: 20px;
}