.login-container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between; /* Mueve el contenido hacia la derecha */
    padding: 0 50px; /* Ajusta el padding según sea necesario */
    height: 100vh; /* Asegúrate de que ocupe toda la altura de la ventana */
    align-items: center;
}

.form-container {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 12px;
    width: 400px; /* Ajusta el ancho según sea necesario */
}

.logo-container {
    flex-shrink: 0;
    margin-right: 10px;
    background-color: #FFFFFF;
}

.logo-container img {
    max-width: 350px;
    height: auto;
}

.form-container h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}


.input-field {
    margin-bottom: 20px;
    width: 100%;
}



button:hover {
    background-color: #009e9e;
}

.forgot-link, .signup-link {
    display: block;
    margin-top: 15px;
    text-align: center;
}

.forgot-link {
    font-size: 12px;
    color: #888;
}

.signup-link {
    margin-top: 40px;
    font-size: 14px;
    color: #333;
}

.signup-link a {
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}