* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  
  .container-identificacion {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header-identificacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .logo,
  .caduceo {
    width: 40px;
    height: 40px;
  }
  
  .title-identificacion {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .expediente {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .expediente span {
    background-color: #38b2ac;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .form-identificacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #f8f8f8;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  @media (min-width: 768px) {
    .form-identificacion {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .full-row {
    grid-column: span 2;
  }
  
  
  
  .radio-group {
    display: flex;
    align-items: center;
  }
  .radio-group span {
    margin-right: 10px;
  }
  
  .radio-group label {
    margin-right: 10px;
  }
  
  
  
  .section {
    margin-top: 20px;
  }
  
  .section h3 {
    margin-bottom: 10px;
  }
  
  .checkbox-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
/* Css para la parte del perfil */
.form-profile {
    display: flex;
    align-items: center;
}

.profile-identificacion img {
    width: 120px;
    height: 160px;
    background-color: #e2e8f0;
    margin-right: 20px;
}

.profile-identificacion {
    grid-column: 1 / span 1;
}

.input-container {
    grid-column: 2 / span 1;
  }
  
.input-identificacion {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .contact-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }