/*SegundaHoja.css*/
.segunda-hoja{
    margin-left: 30px;
    width: 590px;

}

.input-identify {
    padding: 6px;
      border: none;
      border-bottom: 1px solid #e5e7eb;
      font-size: 0.8rem;
      margin-bottom: 8px;
      flex: 2 1;
  }
  